:root {
    --primary-color: rgb(55, 118, 116);
    --secondary-color :rgb(26, 54, 33);
    --third-color :rgb(0, 0, 0);
    --white-color :rgb(255, 255, 255);
    --navbar-color :rgb(206, 207, 138);
}
.body-container{
    background-color:var(--navbar-color);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
box-shadow: 4px 3px 7px -5px;
  
   
}
.icon{
    width: 20px;
    height: 20px;
    font-size: x-large;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.padding{
    padding-left: 10px;
        padding-right: 10px;
        color: var(--third-color);
        display: flex;
}
.padding-20{
    padding-left: 20px;
}
.text{
    text-decoration: none;
}
.cart-num{
text-decoration: none;
    position: relative;
    right: 10px;
    bottom: 10px;
    font-size: 15px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--third-color);
}

.nav-log-btn{
border: none;
    background-color: var(--third-color);
    padding: 10px;
    border-radius: 10px;
    color: var(--white-color);
    font-size: 17px;  
}
.logo{
width: 170px;

}
.nav-cart-wish-icon{
        display: flex;
        align-items: center;
}


