.social-link{
    color: black;
    size: x-large;
    font-size: 21px;
    padding: 10px;
}
.footer-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.hr{
width: 94%;
}
.footer {
    width: 100%;
    /* position: absolute; */
    /* bottom: 0px; */
}